cerebras-cloud-sdk
tabulate
pymupdf
langchain-community
langchain-groq
fastapi
pyjwt
pydantic[email]
uvicorn
aiofiles
SQLAlchemy
psycopg2
pyodbc
torch
transformers
nltk
datasets
google-generativeai
google-auth
google-auth-oauthlib
python-multipart
pytesseract
gdown
opencv-python-headless
pdf2image
pdfplumber
sentence-transformers
azure-storage-blob
requests
bcrypt
slowapi
redis
fastapi-cache2[redis]
